* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}


/* ------------------------------------------------------------------------------ */

.menu{
    float: left;
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: white;
}
.logo{
    float: left;
    width: 20%;
    height: 90px;
    border-bottom: 1px solid #5a5a5a;
}
.logo img{
    float: left;
    height: 80px;
    margin-left: 35%;
    margin-top: 2%;
    transition: all 1s;
}
.logo img:hover{
    height: 83px;
    box-shadow: blue;
}
.nav{
    float: left;
    width: 52%;
    height: 90px;
    border-bottom: 1px solid #5a5a5a;
}
.nav ul li{
    list-style: none;
    float: left;
    padding-left: 4%;
}
.nav ul li a{
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    line-height: 90px;
    transition: 0.5s all;
}
.nav ul li a:hover{
    color: #eb4d4b;
    font-size: 14px;
}
.function{
    float: left;
    width: 28%;
    height: 90px;
    border-bottom: 1px solid #5a5a5a;
    
}

.function ul{
    margin-left:2%;
    line-height: 80px;
}

.function ul li{
    float: left;
    list-style: none;
    
}
.search-txt{
    float: left;
    width: 220px;
    height: 28px;
    font-size: 14px;
    border: none;
    text-align: center;
    padding: 0;
}
.search-btn {
    color: white;
    float: right;

    margin-top: -26px;
    margin-right: 7px;
    
}
.search-box{
    float: left;
    border: 1px solid black;
    background-color: white;
    height: 30px;
    width: 255px;
    margin-top: 12%;
    margin-left: 5%;
    background-color: #2ecc71;
}
.icon{
    float: left;
    margin-left: 20px;
    margin-top: 6px;
}
.icon2{
    float: left;
    margin-left: 5px;
    margin-top: 6px;
}
.main{
    float: left;
    margin-top: 90px;
}
.main .banner img{
    width: 1381px;
    height: 500px;
    border-bottom: 1px solid black;
}

.trademark p{
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 24px;
    margin-top: 40px;
}
.trademark ul li{
    float: left;
    list-style: none;
    margin-top: 70px;
    margin-left: 60px;
    
}
.trademark ul li img:hover{
    box-shadow: 5px 5px 25px #b2bec3;
    cursor: pointer;
}
.main .banner2 img{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 1381px;
    height: 120px;
    border: 1px solid #2980b9;

}
.product{
    float: left;
    margin-left: 20px;
}
.product ul div img{
    width: 200px;
    height: 200px;
    border: dashed;
    border-color:#d63031;
}
.product ul div{
    display: list-item;
    margin-left: 20px;
    list-style: none;
}
.toy{
    float: left;
    margin-bottom: 40px;
}
.toy h6{
    color: black;
    font-weight: 400;
}
.toy h5{
    color: black;
    font-weight: 400;
    font-size: 18px;
}
.toy h4{
    color: red;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;

}
.toy a{
    text-decoration: none;
}
.add{
    padding: 2px 8px;
    border: 1px solid black;
    border-radius: 5px;
    color: #e74c3c;
    text-align: center;
}
.add:hover{
    border: 1px solid #e74c3c;
    background-color: #e74c3c;
    color: white;
}
.thanh{
    float: left;
    height: 10px;
    width: 1310px;
    margin-left: 2%;
    background-color: #c0392b;
    margin-top: 20px;
    margin-bottom: 30px;
}
.hotline{
    float: left;
    width: 280px;
    height: 230px;
    margin-left: 2%;
    color: black;
}
.hotline p{
    font-size: 16px;
}
.hotline i{
    font-size: 30px;
    color: #c0392b;
}
.hotline h3{
    display: inline;
    font-size: 20px;
    font-weight: 300;
}
.hotline h5{
    display: inline;
    font-size: 20px;
    font-weight: 300;
}
.signup{
    float: left;
    width: 420px;
    height: 230px;
    margin-left: 30px;

}
.signup h5{
    font-size: 16px;
    font-weight: 500;
    color: black;

}
.box{
    float: left;
    width: 340px;
    height: 30px;
    background-color: #c0392b;
    border: 1px solid #c0392b;
}
.ss{
    float: left;
    height: 28px;
    width: 300px;
    border: none;
    text-align: center;
}
.signup i{
    float: right;
    margin-top: 4px;
    margin-right: 10px;
    color: white;
}
.nect{
    float: left;
    width: 300px;
    height: 230px;
}
.nect h5{
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.nect ul{
    float: left;
    margin-left: -150px;
    margin-top: 15px;
}
.nect ul li{
    float: left;
    list-style: none;
    margin-top: 25px;
    display: inline-block;
    margin-left: 10px;
}
.nect i{
    font-size: 16px;
    padding: 6px 8px;
    color: #c0392b;
    border: 1px solid #c0392b;
    border-radius: 50%;
}
.nect img{
    height: 18px;
}
.system{
    float: left;
    height: 230px;
    width: 300px;
}
.system h5{
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.system img{
    width: 270px;
}